body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: block;
}

input {
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
}

button {
  flex-grow: 1;
  font-size: 16px;
  padding: 5px;
}

h1 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  display: block;
  color: #AAA;
  font-size: 32px;
  margin-top: 10px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.container {
  display: flex;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

/* used for highlighting diagram elements */
.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: rgb(3, 199, 107) !important;
}

.lesser-highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: rgba(3, 199, 107, 0.5) !important;
}