target
.idea
*.iml
.vscode/
paper/*.pdf
paper/*.gz
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.pdf
paper/*.out
paper/fig/*.pdf
paper/__latexindent_temp.tex
paper/*.fdb_latexmk
paper/*.fls
